{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "max-len": [1, 300, 2, {"ignoreComments": true}],
    "no-multi-spaces": [1, {"exceptions": {"VariableDeclaration": true}}],
    "react/no-multi-comp": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 1,
    "padded-blocks": 0,
    "comma-dangle": 1,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-alert": 1,
    "no-console": 0,
    "id-length": [2, {"min": 1, "properties": "never"}],
    "no-trailing-spaces": [1],
    "quotes": [0, "single"],
    "eol-last": [2],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "camelcase": 2,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "brace-style": [0, "stroustrup", {"allowSingleLine": false }],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "react/display-name": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/jsx-closing-bracket-location": 0,
    "react/jsx-first-prop-new-line": 0,
    "global-require": 0,
    "no-empty-label": 0,
    "space-before-keywords": 0,
    "space-after-keywords": 0,
    "space-return-throw-case": 0,
    "no-use-before-define": 0,
    "no-nested-ternary": 0,
    "no-multiple-empty-lines": 0,
    // fix bug from update eslint
    "import/no-dynamic-require": 0,
    "object-curly-spacing": 0,
    "import/export": 2,
    "import/prefer-default-export": 0,
    "import/no-named-as-default-member": 0,
    "import/no-mutable-exports": 0,
    "import/no-amd": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-absolute-path": 0,
    "import/no-webpack-loader-syntax": 0,
    "import/no-named-default": 0,
    "arrow-body-style": 0,
    "prefer-template": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0,
    "react/prefer-stateless-function": 0,
    "arrow-parens": 0,
    "react/sort-comp": 0,
    "react/self-closing-comp": 0,
    "no-plusplus": 0
  },
  "plugins": [
    "react",
    "import",
    "babel",
    "jsx-a11y"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "blockBindings": true,
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "fetch": true,
    "__DEV__": true,
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true,
    "socket": true,
    "fbq": true,
    "FB": true,
    "webpackIsomorphicTools": true,
    "Omise": true
  }
}
